

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		color: #5D5D5D;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* ePrints Search Box */

	.search-box{
	  width: 100%;
	  height: 50px;
	}

	.container-4{
	  overflow: hidden;
	  width: 100%;
	  vertical-align: middle;
	  white-space: nowrap;
	}

	.container-4 input#search{
	  width: 100%;
	  height: 50px;
	  border: 1px solid #d2d2d2;
	  float: left;
	  color: #3c3b3b;
	  padding-left: 15px;
	  padding-right: 60px;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  font-size: 14px;
	  font-weight: 400;
	  font-family: 'Montserrat', sans-serif;
	  letter-spacing: 0.07em;
	}

	.container-4 input#search::-webkit-input-placeholder {
	   color: #b5b5b5;
	}
	 
	.container-4 input#search:-moz-placeholder { /* Firefox 18- */
	   color: #b5b5b5;  
	}
	 
	.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
	   color: #b5b5b5;  
	}
	 
	.container-4 input#search:-ms-input-placeholder {  
	   color: #b5b5b5;  
	}

	.container-4 button.icon{
	  -webkit-border-top-right-radius: 4px;
	  -webkit-border-bottom-right-radius: 4px;
	  -moz-border-radius-topright: 4px;
	  -moz-border-radius-bottomright: 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	 
	  border: none;
	  background: #2ebaae;
	  height: 50px;
	  width: 50px;
	  color: #fff;
	  opacity: 0;
	  font-size: 12pt;
	 
	  -webkit-transition: all .55s ease;
	  -moz-transition: all .55s ease;
	  -ms-transition: all .55s ease;
	  -o-transition: all .55s ease;
	  transition: all .55s ease;
	}

	.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
		outline: none;
		opacity: 1;
		margin-left: -50px;
	  }
	 
	  .container-4:hover button.icon:hover{
		background: #3c3b3b;
	  }

/* Custom CSS */

.list-group {
	*border-radius: 4px;
	*-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    *box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	list-style: none;
	padding-left: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: 0.35em;
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	text-transform: uppercase;
}

.list-group li {
    line-height: 40px;
	border-bottom: 1px solid #dbdfe1;
}

.list-group-item {
	padding: 0 0 0 15px;
}
.list-group-item a {
	color: #3c3b3b;
}
.list-group-item a:hover {
	color: #2ebaae;
}
.list-group-item.active a{
	color: #fff;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-transform: uppercase;
  background-color: #2ebaae;
  padding: 1em 0 1em 15px;
  color: #ffffff;
  line-height: 2em;
}

.list-group-item:first-child {
    *border-top-left-radius: 4px;
    *border-top-right-radius: 4px;
	*border: 1px solid #dbdfe1;
}
.list-group-item:last-child {
	*border-bottom-left-radius: 4px;
    *order-bottom-right-radius: 4px;
}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #ffffff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after, body.is-resizing *, body.is-resizing *:before, body.is-resizing *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, select, textarea {
		font-family: "Raleway", sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.03em;
		line-height: 1.65;	
	}

		@media screen and (max-width: 1680px) {

			body, select, textarea {
				font-size: 14px;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 10pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 9pt;
			}

		}

	a {
		text-decoration: none;
	}

		a:hover {
			color: #2ebaae;
		}

	strong, b {
		color: #3d4449;
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}


	h1, h2, h3, h4, h5, h6 {
		color: #3d4449;
		font-family: "Raleway", sans-serif;
		font-weight: 500;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

	h1 {
		font-size: 1em;
		margin: 0 0 0.5em 0;
		line-height: 1.3;
		text-align: none;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 1680px) {

		h1 {
			font-size: 3.5em;
		}

	}

	@media screen and (max-width: 980px) {

		h1 {
			font-size: 3.25em;
		}

	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2em;
			line-height: 1.4;
		}

		h2 {
			font-size: 1.5em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 3px rgba(210, 215, 217, 0.75);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(230, 235, 237, 0.25);
		border-radius: 0.375em;
		border: solid 1px rgba(210, 215, 217, 0.75);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	
/* Section/Article */

	header p {
		font-family: "Raleway", sans-serif;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.075em;
		margin-top: -0.5em;
		text-transform: uppercase;
	}

	header.major > :last-child {
		border-bottom: solid 3px #f56a6a;
		display: inline-block;
	}

	header.main > :last-child {
		margin: 0 0 1em 0;
	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #3d4449;
		display: block;
	}

	
/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* List */

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon {
					color: inherit;
				}

					ul.icons li .icon:before {
						font-size: 1.25em;
					}


		dl dd {
			margin-left: 1.8em;
		}

/* Wrapper */

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		min-height: 100vh;
	}

/* Main */

	#main {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		width: 100%;
	}

		#main > .inner {
			padding: 0 6em 0.1em 6em ;
			margin: 0 auto;
			max-width: 110em;
		}

		@media screen and (max-width: 1680px) {

			#main > .inner {
				padding: 0 5em 5em 5em ;
			}

		}

		@media screen and (max-width: 1280px) {

			#main > .inner {
				padding: 0 4em 0.1em 4em ;
			}

		}

		@media screen and (max-width: 736px) {

			#main > .inner {
				padding: 0 2em 0.1em 2em ;
			}

		}

/* Sidebar */

	#part_top {
		text-decoration: none;
		position: relative;
	}

	#sidebar {
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
		-moz-flex-shrink: 0;
		-webkit-flex-shrink: 0;
		-ms-flex-shrink: 0;
		flex-shrink: 0;
		-moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
		-webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
		-ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
		transition: margin-left 0.5s ease, box-shadow 0.5s ease;
		background-color: #f5f6f7;
		font-size: 0.9em;
		position: relative;
		width: 26em;
	}

		#sidebar > .inner {
			padding: 2.22222em 2.22222em 2.44444em 2.22222em ;
			position: relative;
			width: 26em;
		}

			#sidebar > .inner > * {
				*border-bottom: solid 2px rgba(210, 215, 217, 0.75);
				*margin: 0 0 3.5em 0;
				padding: 0 0 25px 0;
			}

				#sidebar > .inner > * > :last-child {
					margin-bottom: 0;
				}

				#sidebar > .inner > *:last-child {
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}

			#sidebar > .inner > .alt {
				background-color: #eff1f2;
				border-bottom: 0;
				margin: -2.22222em 0 4.44444em -2.22222em;
				padding: 2.22222em;
				width: calc(100% + 4.44444em);
			}

		#sidebar .toggle {
			text-decoration: none;
			-moz-transition: left 0.5s ease;
			-webkit-transition: left 0.5s ease;
			-ms-transition: left 0.5s ease;
			transition: left 0.5s ease;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			border: 0;
			display: block;
			height: 7.5em;
			left: 26em;
			line-height: 7.5em;
			outline: 0;
			overflow: hidden;
			position: absolute;
			text-align: center;
			text-indent: 7.5em;
			top: 0;
			width: 6em;
			z-index: 10000;
		}

			#sidebar .toggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#sidebar .toggle:before {
				content: '\f0c9';
				font-size: 2rem;
				height: inherit;
				left: 0;
				line-height: inherit;
				position: absolute;
				text-indent: 0;
				top: 0;
				width: inherit;
			}
			
			#sidebar a.toggle:before {
				color: #f56a6a;
			}

		#sidebar.inactive {
			margin-left: -26em;
		}
	
		@media screen and (max-width: 1680px) {

			#sidebar {
				width: 24em;
			}

				#sidebar > .inner {
					padding: 1.66667em 1.66667em 1.33333em 1.66667em ;
					width: 24em;
				}

					#sidebar > .inner > .alt {
						margin: -1.66667em 0 3.33333em -1.66667em;
						padding: 1.66667em;
						width: calc(100% + 3.33333em);
					}

				#sidebar .toggle {
					height: 6.25em;
					left: 24em;
					line-height: 6.25em;
					text-indent: 5em;
					width: 5em;
				}

					#sidebar .toggle:before {
						font-size: 1.5rem;
					}

				#sidebar.inactive {
					margin-left: -24em;
				}
			
		}

		@media screen and (max-width: 1280px) {

			#sidebar {
				box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
				height: 100%;
				left: 0;
				position: fixed;
				top: 0;
				z-index: 10000;
			}

				#sidebar.inactive {
					box-shadow: none;
				}

				#sidebar > .inner {
					-webkit-overflow-scrolling: touch;
					height: 100%;
					left: 0;
					overflow-x: hidden;
					overflow-y: auto;
					position: absolute;
					top: 0;
				}

					#sidebar > .inner:after {
						content: '';
						display: block;
						height: 4em;
						width: 100%;
					}

				#sidebar .toggle {
					text-indent: 6em;
					width: 6em;
				}

					#sidebar .toggle:before {
						font-size: 1.5rem;
						margin-left: -0.4375em;
					}

		}

		@media screen and (max-width: 736px) {

			#sidebar .toggle {
				text-indent: 7.25em;
				width: 7.25em;
			}

				#sidebar .toggle:before {
					color: #7f888f;
					margin-left: -0.0625em;
					margin-top: -0.25em;
					font-size: 1.1rem;
					z-index: 1;
				}

				#sidebar .toggle:after {
					background: rgba(222, 225, 226, 0.75);
					border-radius: 0.375em;
					content: '';
					height: 3.5em;
					left: 1em;
					position: absolute;
					top: 1em;
					width: 5em;
				}

		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		border-bottom: solid 5px #f56a6a;
		padding: 6em 0 1em 0;
		position: relative;
		margin-bottom: 20px;
	}

		#header > * {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-bottom: 0;
		}

		#header .logo {
			border-bottom: 0;
			color: inherit;
			font-family: 'Raleway', sans-serif;
			font-size: 12px;
			font-weight: 800;
			letter-spacing: 0.35em;
			padding: 0;
			text-transform: uppercase;
		}
		

		#header .icons {
			text-align: right;
		}
		
		#header a.logo:hover, #header a.icons:hover {
			color: #2ebaae;
		}

		@media screen and (max-width: 1680px) {

			#header {
				padding-top: 5em;
			}

		}

		@media screen and (max-width: 736px) {

			#header {
				padding-top: 6.5em;
			}

				#header .logo {
					font-size: 12px;
					margin: 0;
				}

				#header .icons {
					height: 5em;
					line-height: 5em;
					position: absolute;
					right: -0.5em;
					top: 0;
				}

		}

/* Menu */

	#menu ul {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: #3d4449;
		font-family: 'Raleway', sans-serif;
		font-size: 11px;
		font-weight: 800;
		letter-spacing: 0.35em;
		list-style: none;
		margin-bottom: 0;
		padding: 0;
		text-transform: uppercase;
	}		
		
		#menu ul a, #menu ul span {
			border-bottom: 0;
			color: inherit;
			cursor: pointer;
			display: block;
			padding: 0.625em 0;
		}

			#menu ul a:hover, #menu ul span:hover {
				color: #2ebaae;
			}

			#menu ul a.opener, #menu ul span.opener {
				-moz-transition: color 0.2s ease-in-out;
				-webkit-transition: color 0.2s ease-in-out;
				-ms-transition: color 0.2s ease-in-out;
				transition: color 0.2s ease-in-out;
				text-decoration: none;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				position: relative;
			}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#menu ul a.opener:before, #menu ul span.opener:before {
					-moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
					transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
					color: #9fa3a6;
					content: '\f078';
					position: absolute;
					right: 0;
				}

				#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
					color: #f56a6a;
				}

				#menu ul a.opener.active + ul, #menu ul span.opener.active + ul {
					display: block;
				}

				#menu ul a.opener.active:before, #menu ul span.opener.active:before {
					-moz-transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					-ms-transform: rotate(-180deg);
					transform: rotate(-180deg);
				}

	#menu > ul > li {
		border-top: solid 1px rgba(210, 215, 217, 0.75);
		*margin: 0.5em 0 0 0;
		padding: 1em 0 1em 15px;
		line-height: 1em;
	}
	
	
	#menu > ul > li:last-child {
		border-bottom: solid 1px rgba(210, 215, 217, 0.75);
	}

		#menu > ul > li > ul {
			color: #9fa3a6;
			display: none;
			margin: 0.5em 0 1.5em -1.5em;
		}
		
		#menu > ul > li > ul a:before {
			content: "\f054";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			margin-right: 4px;
			color: #555555;
			font-size: 9px;
			position: relative;
			top: -1px;
		}

			#menu > ul > li > ul a, #menu > ul > li > ul span {
				font-size: 11px;
				font-weight: 400;
				color: #3c3b3b;
				
			}

			#menu > ul > li > ul > li {
				margin: 0.125em 0 0 0;
				padding: 1em 0 1em 25px;
				border-bottom: 1px solid;

			}

		#menu > ul > li:first-child {
			border-top: 3px solid;
			margin-top: 0;
			padding-top: 1em;
		}

/* Footer */

	#footer .copyright {
		color: #9fa3a6;
		font-size: 12px;
		letter-spacing: 0.03em;
	}

		#footer .copyright a {
			-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
			border-bottom: dotted 1px;
			color: #f56a6a;
			text-decoration: none;
		}